# Web Scraping: Lab 1 & 2

**Table of contents**
1. [Billboard.](#1-|-Lab-1:-Billboard)
2. [Deezer.](#2-|-Lab-2:-Deezer)
3. [Earthquakes.](#3-|-Lab-2:-Earthquakes)

> Links not working even though I did same as in previous notebook...grrrr

# 1 | Lab 1: Billboard

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = "https://www.billboard.com/charts/hot-100/"
response = requests.get(url)
response.status_code # 200 status code means OK!

200

In [3]:
#post-1479786 > div.pmc-paywall > div > div > div > div.chart-results-list.\/\/.lrv-u-padding-t-150.lrv-u-padding-t-050\@mobile-max > div:nth-child(2) > ul > li.lrv-u-width-100p > ul > li.o-chart-results-list__item.\/\/.lrv-u-flex-grow-1.lrv-u-flex.lrv-u-flex-direction-column.lrv-u-justify-content-center.lrv-u-border-b-1.u-border-b-0\@mobile-max.lrv-u-border-color-grey-light.lrv-u-padding-l-1\@mobile-max

In [4]:
soup = BeautifulSoup(response.content, "html.parser")

In [5]:
# searching...
soup.select("#post-1479786 > div.pmc-paywall > div > div > div > div.chart-results-list.\/\/.lrv-u-padding-t-150.lrv-u-padding-t-050\@mobile-max > div:nth-child(2) > ul > li.lrv-u-width-100p > ul > li.o-chart-results-list__item.\/\/.lrv-u-flex-grow-1.lrv-u-flex.lrv-u-flex-direction-column.lrv-u-justify-content-center.lrv-u-border-b-1.u-border-b-0\@mobile-max.lrv-u-border-color-grey-light.lrv-u-padding-l-1\@mobile-max")

[<li class="o-chart-results-list__item // lrv-u-flex-grow-1 lrv-u-flex lrv-u-flex-direction-column lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light lrv-u-padding-l-1@mobile-max">
 <h3 class="c-title a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet" id="title-of-a-story">
 Easy On Me
 </h3>
 <span class="c-label a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet">
 Adele
 </span>
 </li>]

In [6]:
# searching...
soup.select("#post-1479786 > div.pmc-paywall > div > div > div > div.chart-results-list.\/\/.lrv-u-padding-t-150.lrv-u-padding-t-050\@mobile-max > div:nth-child(2) > ul > li.lrv-u-width-100p > ul > li.o-chart-results-list__item.\/\/.lrv-u-flex-grow-1.lrv-u-flex.lrv-u-flex-direction-column.lrv-u-justify-content-center.lrv-u-border-b-1.u-border-b-0\@mobile-max.lrv-u-border-color-grey-light.lrv-u-padding-l-1\@mobile-max span")

[<span class="c-label a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet">
 Adele
 </span>]

In [7]:
# get our song titles
song_titles = []
for crouton in soup.select("li.lrv-u-width-100p h3"):
    song_titles.append(crouton.get_text())

In [8]:
# get artist and other data
span = []
for crouton in soup.select("li.lrv-u-width-100p span"):
    span.append(crouton.get_text())

In [9]:
len(span)

700

In [10]:
# filter the artist and other data
artist_x = []
last_week_pos_x = []
peak_pos_x = []
weeks_on_chart_x = []

i = 0
for i in range(len(span)):
    if i % 7 == 0:
        artist_x.append(span[i])
    elif i % 7 == 1:
        last_week_pos_x.append(span[i])
    elif i % 7 == 2:
        peak_pos_x.append(span[i])
    elif i % 7 == 3:
        weeks_on_chart_x.append(span[i])

In [11]:
# clean the /n from our fields
songs = []
artist = []
last_week_pos = []
peak_pos = []
weeks_on_chart = []

i = 0
for i in range(len(song_titles)):
    songs.append(song_titles[i].replace('\n',''))
    artist.append(artist_x[i].replace('\n',''))
    last_week_pos.append(last_week_pos_x[i].replace('\n',''))
    peak_pos.append(peak_pos_x[i].replace('\n',''))
    weeks_on_chart.append(weeks_on_chart_x[i].replace('\n',''))

In [12]:
# create dataframe
top100 = pd.DataFrame({'song_title':songs,
                      'artist':artist,
                      'last_week_pos':last_week_pos,
                      'peak_pos':peak_pos,
                      'weeks_on_chart':weeks_on_chart})

In [13]:
# show off dataframe
top100.head(20)

,song_title,artist,last_week_pos,peak_pos,weeks_on_chart
0,Easy On Me,Adele,1,1,5
1,Stay,The Kid LAROI & Justin Bieber,2,1,18
2,Industry Baby,Lil Nas X & Jack Harlow,3,1,16
3,Bad Habits,Ed Sheeran,4,2,20
4,Shivers,Ed Sheeran,6,5,9
5,One Right Now,Post Malone & The Weeknd,-,6,1
6,Fancy Like,Walker Hayes,5,3,21
7,Smokin Out The Window,Silk Sonic (Bruno Mars & Anderson .Paak),-,8,1
8,Need To Know,Doja Cat,8,8,22
9,Heat Waves,Glass Animals,10,10,43
10,Escape Plan,Travis Scott,-,11,1
11,Way 2 Sexy,Drake Featuring Future & Young Thug,7,1,10
12,No Love,Summer Walker & SZA,-,13,1
13,Cold Heart (PNAU Remix),Elton John & Dua Lipa,14,14,10
14,Good 4 U,Olivia Rodrigo,9,1,26
15,Essence,Wizkid Featuring Justin Bieber & Tems,12,9,19
16,Beggin',Maneskin,13,13,20
17,Levitating,Dua Lipa,11,2,58
18,You Right,Doja Cat & The Weeknd,16,11,20
19,Kiss Me More,Doja Cat Featuring SZA,15,3,31

# 2 | Lab 2: Deezer

In [14]:
url = "https://www.deezer.com/en/playlist/3155776842"
response = requests.get(url)
response.status_code # 200 status code means OK!

200

In [15]:
soup = BeautifulSoup(response.content, "html.parser")

In [16]:
tracks = []
artists = []

for i in range(len(soup.select("td.track > div > a > span"))):
    tracks.append(soup.select("td.track > div > a > span")[i].get_text())
    artists.append(soup.select("td.artist > div > a")[i].get_text())

In [26]:
deezer_world_top_100 = pd.DataFrame({"track":tracks, "artist":artists})
deezer_world_top_100.head(5)

              track         artist
0       Easy On Me           Adele
1    INDUSTRY BABY       Lil Nas X
2             STAY   The Kid Laroi
3       Bad Habits      Ed Sheeran
4  Blinding Lights      The Weeknd

In [20]:
len(deezer_world_top_100)

40

In [24]:
# it's scrollable on the site and the other items don't appear until they are displayed, i'm guessing this is the reason we don't have the full 100 tracks...
# perhaps the javascript generates them and doesn't show all...
#

# 3 | Lab 3: Earthquakes

In [92]:
import random
from time import sleep

soup_serving = []
for i in range(10):
    url = "https://www.emsc-csem.org/Earthquake/?view=" + str(i+1)
    response = requests.get(url)
    print("Intereation " + str(i) + ", status:" + str(response.status_code))
    
    soup = BeautifulSoup(response.content, "html.parser")
    soup_serving.append(soup.select("tbody"))
    
    wait_time = random.randint(1,4)
    sleep(wait_time)

Intereation 0, status:200
Intereation 1, status:200
Intereation 2, status:200
Intereation 3, status:200
Intereation 4, status:200
Intereation 5, status:200
Intereation 6, status:200
Intereation 7, status:200
Intereation 8, status:200
Intereation 9, status:200

In [102]:
# soup_serving[0]

earthquake_datetime = []
latitude_num = []
latitude_let = []
longitude_num = []
longitude_let = []
magnitude = []
region_name = []

for chicken_soup in range(len(soup_serving)):
    for i in range(len(soup_serving[chicken_soup][0].select("td.tb_region"))):
        earthquake_datetime.append(soup_serving[chicken_soup][0].select("b a")[i].get_text().replace('\xa0\xa0\xa0',' '))

        region_name.append(soup_serving[chicken_soup][0].select("td.tb_region")[i].get_text().strip())

        latitude_num.append(soup_serving[chicken_soup][0].select("td.tabev1")[i*2].get_text().strip())
        longitude_num.append(soup_serving[chicken_soup][0].select("td.tabev1")[i*2+1].get_text().strip())

        latitude_let.append(soup_serving[chicken_soup][0].select("td.tabev2")[i*3].get_text().strip())
        longitude_let.append(soup_serving[chicken_soup][0].select("td.tabev2")[i*3+1].get_text().strip())
        magnitude.append(soup_serving[chicken_soup][0].select("td.tabev2")[i*3+2].get_text().strip())

In [103]:
earthquakes = pd.DataFrame({'earthquake_datetime':earthquake_datetime,
                            'latitude_num':latitude_num,
                            'latitude_let':latitude_let,
                            'longitude_num':longitude_num,
                            'longitude_let':longitude_let,
                            'magnitude':magnitude,
                            'region_name':region_name})
#deezer_world_top_100 = pd.DataFrame({"track":tracks, "artist":artists})

In [104]:
earthquakes.head()

,earthquake_datetime,latitude_num,latitude_let,longitude_num,longitude_let,magnitude,region_name
0,2021-11-22 16:07:04.0,0.56,S,123.50,E,4.1,"SULAWESI, INDONESIA"
1,2021-11-22 15:58:25.0,29.95,S,68.99,W,4.8,"SAN JUAN, ARGENTINA"
2,2021-11-22 15:48:11.6,2.78,S,126.64,E,4.5,"CERAM SEA, INDONESIA"
3,2021-11-22 15:44:13.2,14.95,S,177.76,W,4.5,FIJI REGION
4,2021-11-22 15:40:49.2,35.59,N,117.60,W,2.2,SOUTHERN CALIFORNIA

In [105]:
len(earthquakes)

509

<a id="languages"></a>
# 4 | Lab 2: Wiki Languages

In [108]:
url = "https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers"

response = requests.get(url)
print(response.status_code) # 200 status code means OK!

#mw-content-text > div.mw-parser-output > table:nth-child(15)
soup = BeautifulSoup(response.content, "html.parser")

200

In [194]:
# get all rows from the html table
all_rows = []
for crouton in range(len(soup.select('table.wikitable.sortable > tbody > tr'))):
    all_rows.append(soup.select('table.wikitable.sortable > tbody > tr')[crouton].get_text())

In [195]:
# split up our rows of data into data fields
data = []
i = 0
for row in all_rows[1:92]:
    data.append(row.split("\n\n"))

In [196]:
# create dataframe
data = pd.DataFrame(data)
data.columns = ['rank','language','speakers_in_millions','percentage_of_world_pop','language_family','branch']

In [197]:
# remove \n from data
data['rank'] = list(map(lambda x:x.replace('\n',''),data['rank']))
data['branch'] = list(map(lambda x:x.replace('\n',''),data['branch']))

In [198]:
# convert rank to numeric
data['rank'] = pd.to_numeric(data['rank'])

In [199]:
# filter top 10
data = data[data['rank'] <= 10]

In [200]:
data

,rank,language,speakers_in_millions,percentage_of_world_pop,language_family,branch
0,1,Mandarin Chinese,918,11.922%,Sino-Tibetan,Sinitic
1,2,Spanish,480,5.994%,Indo-European,Romance
2,3,English,379,4.922%,Indo-European,Germanic
3,4,Hindi (sanskritised Hindustani)[9],341,4.429%,Indo-European,Indo-Aryan
4,5,Bengali,300,4.000%,Indo-European,Indo-Aryan
5,6,Portuguese,221,2.870%,Indo-European,Romance
6,7,Russian,154,2.000%,Indo-European,Balto-Slavic
7,8,Japanese,128,1.662%,Japonic,Japanese
8,9,Western Punjabi[10],92.7,1.204%,Indo-European,Indo-Aryan
9,10,Marathi,83.1,1.079%,Indo-European,Indo-Aryan